*.DS_Store
.patch
*.diff
*/.libs
*/.deps
*.a
*.o
*.la
*.lo
.*.swp
*Makefile*
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*/all.h.bak
*/tsschecker
*/tsschecker.exe
stamp-h1
